.form	{
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 15px;
}

.input {
	line-height: 40px;
	font-size: 25px;
	font-weight: normal;
	border: 2px gray solid;
	border-radius: 10px ;
	padding: 5px;
	width: 40%;
	margin: 0 auto;

	transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.input:focus {
	width: 39%;
}

.button {
	
	width: 30%;
	height: 50px; 
	border: none;
	border-radius: 15px;

	background: linear-gradient(91.4deg, #2fb8ff 0%, #9eecd9 100%);
	color: white;
	font-size: 20px;
	
	margin: 0 auto;

	transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

}

.button:hover {
	width: 25%;
	font-size: 23px;
	height: 57px;
	
}

.failed {
	color: red;
	font-weight: bold;
	font-size: 20px;
	padding: 0px 0px 10px 0px;

	transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}